 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <br>
                    <h2>About the imaginable(s)</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <p>Future, Made. is an independent Art & Technology collective hoping to be creative in what, how, and why it exists. 
                        Opted for making a positive impact via progressively conducting a set of experimental projects in the socio-economical and political
                        aspects of a multi-lateral and inclusive and globally designable future; while fostering commons-making and skills-making; 
                        around new socio-economical value chains with existing 
                        humanitarian values in a <a href="https://en.wikipedia.org/wiki/Grassroots" target="_blank">grasroots</a> fashion.
                    </p>
                        <p>

                        
                       We are making an open call for all individuals and communities of the world; who are into ideation, design, research, 
                       and development activities on observing the civic engagements and <strong>the impact of demand-side-initiated 
                           future scenarios (aka. demand-augmentation)</strong> and creating opportunities to extend the 
                           <strong>Freedom of Expression</strong> with <strong>Expression of Demand</strong> in several fields. <br><br>

                        </p>
                       
                       
     
                        <br>
                </div>
                <div class="col-lg-4">
                    <p>
                        Future seems to be observable, when there is an observable future-oriented intention bases exist. 
                        Otherwise, there will be an ongoing need for historical-data that is being collected by some, in real-time. 
                        We should be ready for a future, where all ads are blocked because of the known and being experienced/forced, bad practices.

                        Our technology-enabled projects have also inspired from <a>Community Supported Agriculture,</a> where a future clarity is given to farmers by the consumers.
                        
                        
                    </p>
                    <p> 
                        Making things (events, ) demandable 
                        with an approach that incentivices audience to 
                        declare their demand via democratic, fair and location-independent participatory mechanisms.

                        between producer/creator(artist) and consumer/audience of things, places, experiences.
                        <br><br></p>
                </div>
                <div class="col-lg-4">
                    <p>All concepts and projects are being developed to further increase the accessibility, 
                        sustainability of the Arts, Culture and Knowlegde, opening new channels for expressing local and global problems via causes included to improve the ability of people to organize and demand changes in an 
                        <a href="https://link.springer.com/chapter/10.1007/978-3-319-98593-0_3" target="_blank"><strong>
                            non-anthropocentric 
                        </strong></a>
                        manner, with an initial dedication on fostering green, safe, localized, decentralize-able and deferrable art events of the future, by design.
                    </p>
                    <p>
                        Hence, efforts started with improving the, 
                        deterministic and risk-taking performances 
                        ticketing/planning methodologies. 
                        
                        and creating future-oriented, temporary and/or long-term
                        networks via creating micro-incentives and multi-lateral beneficiary sharings between 
                        <a href="https://miro.com/app/board/o9J_ldhZvuk=/" target="_blank">participants.</a>
                        
                    </p>
                </div>
           

                <div class="col-lg-8 col-lg-offset-2 text-center mt-4 mb-4">
                    <img class="img-responsive" src="/future-made-website/img/b2f.jpg" alt="profile-pic" />

                    <a href="https://streamerd.github.io/jekyll-timeline/" target="_blank" class="btn btn-lg btn-outline">
                        <i class="fas fa-address-card"></i> Current roadmap
                    </a> 
                    <br>
                    <a href="https://form.typeform.com/to/BIZrHgZ1?typeform-medium=embed-snippet" target="_blank" class="btn btn-lg btn-outline">
                         Join the first gathering of 2021, <br> for a timely impact ;)
                    </a>
                </div> 

            </div>
        </div>
    </section>
