 <!-- About Section -->
 <section class="success" id="collaborators">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css" integrity="sha256-3sPp8BkKUE7QyPSl6VfBByBroQbKxKG7tsusY2mhbVY=" crossorigin="anonymous" />
    <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title title-left text-center text-lg-left">
                        <h2> &lt;| Come, as you are |> </h2>
                            <br><br><br>
                    </div>
                </div>
            </div>

        
            <div class="row justify-content-center">

                <div class="col-md-6 col-lg-4 mb-30">
                    <div class="team-item">
                        <div class="mb-30 position-relative d-flex align-items-center">
                                <span class="socials d-inline-block">
                                    <a href="http://atyilmaz.tech" target="_blank" class="zmdi zmdi-assignment-account"></a>
                                    <a href="https://twitter.com/_streamerd" target="_blank"  class="zmdi zmdi-twitter"></a>
                                    <a href="https://github.com/streamerd" target="_blank"  class="zmdi zmdi-github-alt"></a>
                                    <a href="https://behance.net/atyilmaz" target="_blank" class="zmdi zmdi-behance"></a>

                                </span>
                            <span class="img-holder d-inline-block">
                                    <img src="/future-made-website/img/collaborators/tolgay.png" alt="Tolgay">
                                </span>
                        </div>
                        <div class="team-content">
                            <h5 class="mb-2">Abbas Tolgay Yılmaz</h5>
                            <p class="mb-0">Software Developer, Visual Artist, Game Theorist</p>
                        </div>
                    </div>
                </div>


                   <div class="col-md-6 col-lg-4 mb-30">
                    <div class="team-item">
                        <div class="mb-30 position-relative d-flex align-items-center">
                                <span class="socials d-inline-block">
                                    <a href="http://www.zariharat.com/" target="_blank" class="zmdi zmdi-assignment-account"></a>
                                    <a href="https://www.instagram.com/zariamma/" target="_blank"  class="zmdi zmdi-instagram"></a>
                                </span>
                            <span class="img-holder d-inline-block">
                                    <img src="/future-made-website/img/collaborators/zari.png" alt="Zari">
                                </span>
                        </div>
                        <div class="team-content">
                            <h5 class="mb-2">Zari Harat</h5>
                            <p class="mb-0">Visual Artist, Creative Designer, Traveler, Teacher</p>
                        </div>
                    </div>
                </div>

                 
                <div class="col-md-6 col-lg-4 mb-30">
                    <div class="team-item">
                        <div class="mb-30 position-relative d-flex align-items-center">
                                <span class="socials d-inline-block">
                                    <a href="https://soundcloud.com/user-726570705" target="_blank" class="zmdi zmdi-soundcloud"></a>

                                </span>
                            <span class="img-holder d-inline-block">
                                    <img src="/future-made-website/img/collaborators/mikey.jpg" alt="Mikey">
                                </span>
                        </div>
                        <div class="team-content">
                            <h5 class="mb-2">Mikey Goodfire</h5>
                            <p class="mb-0">Musician, Traveler </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 mb-30">
                    <div class="team-item">
                        <div class="mb-30 position-relative d-flex align-items-center">
                                <span class="socials d-inline-block">
                                    <a href="http://tanjatae.com/" target="_blank" class="zmdi zmdi-assignment-account"></a>
                                    <a href="https://www.behance.net/tanjatae" target="_blank" class="zmdi zmdi-behance"></a>
                                    <a href="https://www.instagram.com/tanja.tae/" target="_blank" class="zmdi zmdi-instagram"></a>
                                </span>
                            <span class="img-holder d-inline-block">
                                    <img src="/future-made-website/img/collaborators/tanja.jpeg" alt="Tanja">
                                </span>
                        </div>
                        <div class="team-content">
                            <h5 class="mb-2">Tanja Taechanurug</h5>
                            <p class="mb-0">Designer, Illustrator</p>

                        </div>
                    </div>
                </div>
            
             

                <div class="col-md-6 col-lg-4 mb-30">
                    <div class="team-item">
                        <div class="mb-30 position-relative d-flex align-items-center">
                                <span class="socials d-inline-block">
                                    <a href="https://www.linkedin.com/in/tinamarquardt/" target="_blank"  class="zmdi zmdi-linkedin"></a>
                                 
                                    <a href="https://www.instagram.com/bee.shot/" target="_blank"  class="zmdi zmdi-instagram"></a>
                                </span>
                            <span class="img-holder d-inline-block">
                                    <img src="/future-made-website/img/collaborators/tina.png" alt="Tina">
                                </span>
                        </div>
                        <div class="team-content">
                            <h5 class="mb-2">Tina Marquardt</h5>
                            <p class="mb-0">Blockchain & Distributed Governance Researcher, Photographer, Entreprenour</p>
                        </div>
                    </div>
                </div>

              
                    
                    <div class="col-md-6 col-lg-4 mb-30">
                        <div class="team-item">
                            <div class="mb-30 position-relative d-flex align-items-center">
                                    <span class="socials d-inline-block">
                                        
                                        <a href="https://vasspilka.github.io/" target="_blank" class="zmdi zmdi-assignment-account"></a>
                                        <a href="https://github.com/vasspilka/" target="_blank" class="zmdi zmdi-github-alt"></a>
                                        <a href="https://twitter.com/vasspilka"  target="_blank" class="zmdi zmdi-twitter"></a>
                                        <a href="https://www.instagram.com/bee.shot/" target="_blank" class="zmdi zmdi-instagram"></a>

                                   
                                    </span>
                                <span class="img-holder d-inline-block">
                                        <img src="/future-made-website/img/collaborators/vasilis.png" alt="Vasilis">
                                    </span>
                            </div>
                            <div class="team-content">
                                <h5 class="mb-2">Vasilis Spilka</h5>
                                <p class="mb-0">Software Developer, Occasional Writer</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 mb-30">
                        <div class="team-item">
                            <div class="mb-30 position-relative d-flex align-items-center">
                          
                            </div>
                            <div class="team-content">
                                <a href="https://form.typeform.com/to/JNPeG0JL?typeform-medium=embed-snippet">
                                <h2 class="mb-2">+ You +</h2>
                                <p class="mb-0">Come, as you are</p>
                            </a>
                            </div>
                        </div>
                    </div>
         
        </div>
    </div>
</section>
