 <!-- About Section -->
 <section class="success" id="motivations">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Motivations & Expectations</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
            
                <p>Purposefully experimenting, partially improving, or totally alternating on the existing paradigms, implementations and ways of thinkings. </p>
                    
                    <p> In marketing, promotion and advertisement; along with demand-side-platforms and ad-networks in the mid/long run.</p>
                <p>Empowering individual initiative-taking to be "effective" in the future, collective-decision making attempts and processes. </p>
            </div>
            <div class="col-lg-4">
                <p>Via enabling charitables/donations per purchase; aiming to create opportunity for an arbitrary purchase/transaction in general, to create impact; outside of its economical/taxational zone, 
                    that can enable the individuals and communities to be a part on <strong>the change, for all.</strong></p>
                <p>Eliminating the limitation on individual impact scope; that have been long there, that inherently comes via citizenship or residentship.</p>
                <p>As a result, we need to explore things that might exist but haven’t yet been observed.</p>
            </div>
            
            <div class="col-lg-4">
                <p>Delegitimizing the "unnecessary" activities of tech-giants in
                    "consumer data business/advertisement" by depriving/dismissing what they are offering,
                    
                    that have been enforcing
                    a bunch of "de-facto'ed" methods;
                    as in "over-prediction and manupilation of choice".</p>
                    <p>Doing that by simply reducing the need for market places and required need for that(!) level of "prediction", in general.</p>
                <p>Removing price-tags that black-boxes (cost + profit), with relatively more transparent cost + profit expectancy in a value-based pricing approach. </p>
                <p>
                    Introducing the potential impact of affordable, and make it possible to combine with things/services. Calling them helpables. Does could mean an effort or resource share that helps to the other side of the transaction, that is not basically something monetary.
                </p> 
                <p>Every life is equally matters. That is why, regardless of the skill or service, helpables will be counted in same value per second/minute/hour etc, <strong>globally. </strong> </p>
            </div>

        
            
        </div>
    </div>
</section>
