 <!-- About Section -->
 <section class="success" id="motivations">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Motivations and Expectations</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
            
                <p>Purposefully experimenting, partially improving, or totally alternating on the existing paradigms, implementations and ways of thinkings. </p>
                    
                    <p> In marketing, promotion and advertisement; along with demand-side-platforms and ad-networks in the mid/long run.</p>
                <p>Empowering individual initiative-taking to be "effective" in the future, collective-decision making attempts and processes.</p>
            </div>
            <div class="col-lg-4">
                <p>Removing price-tags of all kind from people, introducing the potential impact of the "relatively settable" affordable, that is combine-able with help-able.</p>
                <p>Delegitimizing the "unnecessary" activities of tech-giants in
                    "consumer data business/advertisement" by depriving/dismissing what they are offering,
                    
                    that have long been enforcing
                    a bunch of "de-facto'ed" methods;
                    as in "over-prediction and manupilation of choice".</p>
                <!-- <p>Reducing the need for market places and required need for "prediction" that is based on historical data collection, in general.</p> -->
                <p>As a result, we need to explore things that might exist but haven’t yet been observed.</p>
            </div>
            <div class="col-lg-4">
                <p>Creating opportunity for an arbitrary purchase/transaction in general, to create impact; outside of its economical/taxational zone, that can enable the individuals societies to be part of the change, for all.</p>
                <p>Eliminating the limitation on individual impact scope; that have been long there, that inherently comes via citizenship or residentship,</p>
            </div>
        
            
        </div>
    </div>
</section>
