   <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button> -->
                <!-- <a class="navbar-brand" href="#page-top">{{ site.title }}</a> -->
                <a class="navbar-brand" href="#page-top">
                    <img src="img/future_made_logo.png" width="60" height="60" alt="">
                </a>

            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>

                    <li class="page-scroll">
                        <a href="#about">About</a>
                    </li>

                   
                    <li class="page-scroll">
                        <a href="#portfolio">Concepts</a>
                    </li>
                     
                    <li class="page-scroll">
                        <a href="#motivations">Motivations</a>
                    </li>
                    
                    <li class="page-scroll">
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Resources<b class="caret"></b></a>
                            <ul class="dropdown-menu multi-level">
                                <li><a href="https://miro.com/app/board/o9J_lcIxk6U=/" target="_blank">Brainstorming</a></li>
                                <li class="divider"></li>

                                <li><a href="https://wireframepro.mockflow.com/view/M7c9a6b7e67ad6cd1a97461cabeb46b6c1606392540908" target="_blank">Design</a></li>
                                <li class="divider"></li>

                                <li><a href="https://github.com/Future-Made" target="_blank">Code</a></li>
                                <li class="divider"></li>
                                <li><a href="https://miro.com/app/board/o9J_ldhZvuk=/" target="_blank">Co-op model @ art events</a></li>

                                <li class="divider"></li>
                                <li><a href="https://www.pearltrees.com/the_offset_movement/" target="_blank">Links to other resources</a></li>
                                
                                <!-- <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                                <li class="divider"></li>
                                <li><a href="#">One more separated link</a></li>
                                <li class="dropdown-submenu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Action</a></li>
                                        <li class="dropdown-submenu">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown</a>
                                            <ul class="dropdown-menu">
                                                <li class="dropdown-submenu">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown</a>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#">Action</a></li>
                                                        <li><a href="#">Another action</a></li>
                                                        <li><a href="#">Something else here</a></li>
                                                        <li class="divider"></li>
                                                        <li><a href="#">Separated link</a></li>
                                                        <li class="divider"></li>
                                                        <li><a href="#">One more separated link</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li> -->
                            </ul>
                        </li>
                    </li>

                 
                    
                    
            
                    <li class="page-scroll">
                        <a href="#collaborators">Collaborators</a>
                    </li>
                    
                    
                    <li class="page-scroll">
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>